/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.red {
    color: crimson;
}
.v-middle {
    vertical-align: middle;
}

.msg-success {
    color: white;
    background-color: #28a745;
}

.msg-error {
    color: white;
    background-color: #e4293c;
}